<!-- Topbar ================================================== -->
    <nav class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="http://www.LinkPod.cn/">LinkPod</a>
          <ul class="nav domain">
            <li class="domain"><a href="/site">我的网站</a></li>
            <li class="service"><a href="/">关于本站</a></li>
            <li class="support"><a href="/">技术支持</a></li>
          </ul>
           <div class="topbar-infomation">
        <ul>
           <li class="email_drop">
              <span class="name">{{ email }}</span>
           </li>
              <!--<li> <a class='notification'> </a> </li>-->
              <li class="account_drop"> <a class="account"><span>账户</span> <i class="icon_account_arrow"> </i> </a>
                <div class="settings-container" data-account="[{&quot;id&quot;:&quot;541987&quot;,&quot;email&quot;:&quot;kaychen.cn@gmail.com&quot;,&quot;password&quot;:&quot;dc221$020297deccc0030d6b614bf5f1786709415feac8478a8fa983f02efbf05b15b4&quot;,&quot;status&quot;:&quot;enabled&quot;,&quot;user_type&quot;:&quot;personal&quot;,&quot;real_name&quot;:&quot;&quot;,&quot;isUnderAgent&quot;:false,&quot;is_agent&quot;:false,&quot;now_user&quot;:true}]">
                     <ul id="account-dropdown">
                        <li> <a href="/user"><i class="icon_account_setting"></i>账户设置</a> </li>
                        <li> <a href="/logout"><i class="icon_account_exit"></i>退出</a> </li>
                     </ul>
				</div>
                </li></ul></div>
          </div>
          <!-- <div class='topbar-infomation'> -->
          <!--     <a class='name'><span>kaychen.cn@gmail.com</span></a> -->
          <!--     <a class='notification'></a> -->
          <!--     <a class='account'><span>账户</span></a> -->
          <!-- </div> -->
        </div>
    </nav>